body{
    margin: 0;
    padding: 0;
    background-color: var(--card-color);
}

:root{
    --background-color:white;
    --primary-color:#6943FF;
    --secondry-color:whitesmoke;
    --card-color:white;
    --font-color:#5A537B;
}

.dark-theme{
    --background-color:white;
    --primary-color:#6943FF;
    --secondry-color:#1F2937;
    --card-color:#273549;
    --font-color:#CCC1FF;
}

.ico{
    text-align: right;
}

#icon{
    width: 30px;
    cursor: pointer;
}

.main{
    text-align: center;
    padding: 60px 450px;
}

.header{
    padding: 20px 20px 50px 20px;
    background-color: var(--primary-color);
}

.header > h1{
    font-size: 28px;
    color: var(--background-color);
}

#input-el{
    width: 150px;
    height: 70px;
    font-size: 50px;
    text-align: center;
    background-color: var(--primary-color);
    border-color: var(--background-color);
    color: var(--background-color);
    border-width: 1px;
    border-radius: 5px;
}

.convertBtn > button{
    margin-top: 20px;
    padding: 10px 25px;
    cursor: pointer;
    border: 2px;
    border-radius: 5px;
    font-weight: lighter;
    border: none;
}

.body{
    margin-top: -20px;
    background-color: var(--secondry-color);
    padding: 20px 0 10px 0;
}

.card{
    color: var(--font-color);
    font-size: 10px;
    padding: 10px;
    background-color: var(--card-color);
    margin: 0 25px 25px 25px;
}